{
    "presets": [
        ["env", { // tells babel to use the babel-env file for settings
            "targets": {
                "browsers": [
                    "> 1%",
                    "last 2 versions" // the browsers to support
                ]
            }
        }], "stage-2", "react" // tells babel it will be transpiling React code, and to use stage-2 presets
    ],
    "plugins": ["syntax-dynamic-import"] //plugins for babel to use
}