{
    "presets": [
        ["env", { // tells babel to use the babel-env file for settings
            "targets": {
                "browsers": [
                    "> 1%",
                    "last 2 versions" // the browsers to support
                ]
            }
        }], "react" // tells babel it will be transpiling React code
    ]
}